* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #1e2a38,
    #131722
  ); /* Midnight Blue to Deep Charcoal */
}

.glassView {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  width: 550px;
  height: 600px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}

.heading {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    #e3c567,
    #d4af37
  ); /* Rich Gold Gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input {
  margin: 12px 0;
  padding: 12px;
  width: 85%;
  border-radius: 8px;
  border: 1px solid #3e4750; /* Subtle Border */
  background: #2c3745; /* Charcoal Background */
  color: #d4af37; /* Gold Text */
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.input:focus {
  outline: none;
  border: 1px solid #d4af37; /* Focus Gold Border */
  box-shadow: 0px 0px 12px #d4af37;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  background: linear-gradient(
    to right,
    #e3c567,
    #d4af37
  ); /* Rich Gold Gradient */
  color: #131722; /* Deep Charcoal Text */
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(211, 175, 55, 0.8);
}

.signup {
  text-align: center;
  color: #d4af37; /* Gold Text */
  font-size: 15px;
  margin-top: 20px;
}

.signupBtn {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.signupBtn:hover {
  color: #e3c567; /* Lighter Gold */
  transition: 0.3s ease;
}

.loginWithBtn {
  margin: 20px 10px;
  background: #2c3745; /* Charcoal Button */
  border: 1px solid #d4af37; /* Gold Border */
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.loginWithIcon {
  font-size: 20px;
  color: #d4af37; /* Gold Icon */
}

.loginWithBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 12px rgba(211, 175, 55, 0.5);
}
