.cartContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.productContainer {
  width: 100%;
  max-width: 1220px;
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.productImg {
  max-width: 150px;
  max-height: 150px;
  margin-right: 16px;
}

.productInfo {
  flex-grow: 1;
}

.pName {
  font-size: 1.2rem;
  margin: 0;
}

.pDescription {
  font-size: 0.9rem;
}

.priceAndQuantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.pPrice {
  margin-left: 8px;
  margin-bottom: 5px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.quantityControl {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.quantityButton {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0px 8px;
  margin: 0px 4px;
  text-align: center;
}

.quantity {
  font-size: 1rem;
  font-weight: 600;
}

.checkOutBtn {
  font-size: 1rem;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  &:hover {
    background-color: #218838;
  }
}
.delBtn {
  font-size: 1rem;
  cursor: pointer;
  background-color: #fd0606;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  &:hover {
    background-color: #c50606;
  }
}
