.productDetailsContainer {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
}

.productImage {
  width: 400px; /* Fixed width */
  height: 400px; /* Fixed height */
  object-fit: cover; /* Crops image if it's larger */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 90px;
  margin-top: 60px;
}

.productInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 90px;
  margin-top: 60px;
}

.productName {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 1.5rem;
  color: #28a745;
  font-weight: bold;
  margin-bottom: 15px;
}

.productDescription {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  gap: 15px;
}

.addToCartButton {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addToCartButton:hover {
  background-color: #218838;
}

.contactSellerButton {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contactSellerButton:hover {
  background-color: #0056b3;
}
