.cartPage {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.backButton {
  margin-bottom: 20px;
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #0078ff;
  border-radius: 10px;
  &:hover {
    background-color: #0078ff;
    color: white;
  }
}

.pageTitle {
  text-align: center;
  color: #0078ff;
  font-size: 2rem;
  margin-bottom: 20px;
}

.cartTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.cartTable th,
.cartTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.cartTable th {
  background-color: #f7f7f7;
  color: #333;
}

.itemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.quantityControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantityButton {
  background-color: #0078ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.quantityButton:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.checkoutButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.checkoutButton:hover {
  background-color: #218838;
}

.deleteButton {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #e53935;
}

.cartSummary {
  text-align: right;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.emptyCart {
  text-align: center;
  margin-top: 50px;
}

.homeButton {
  background-color: #0078ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.homeButton:hover {
  background-color: #005bb5;
}
