* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 50px auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.greetings {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  margin: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
}
.userDetails {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
}
.dataTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: Cambria, Georgia, Times, serif;
  margin-left: 40px;
  text-decoration: underline;
}
.userData {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: Cambria, Georgia, Times, serif;
  margin-left: 80px;
  background: #bbb;
  width: 400px;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  color: rgb(56, 52, 52);
}
